<div id="chemistry">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Chemistry Lab</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/chemistry/chem1.png" alt="Chemistry" class="img-fluid">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead"> Chemistry lab is a well ventilated Hall and has been recently renovated to provide a clear and hygienic ambience to carry out experiments. The lab is annually upgraded with the latest equipments and safety gadgets.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/chemistry/chem3.png" alt="Chemistry" class="img-fluid">
                    </div>
                </div>
                <div class="row d-none d-block-md" id="chem-img">
                    <div class="col lg-6 col-md-6">
                        <img src="/assets/img/chemistry/chem2.png" alt="Chemistry" class="img-fluid" style="height: 300px;">
                    </div>
                    <div class="col lg-6 col-md-6">    
                        <img src="/assets/img/chemistry/chem4.png" alt="Chemistry" class="img-fluid" style="width: 350px;height: 300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>