#chemistry{
    .card{
        border-radius: 20px;
        .card-title{
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            margin-left: 100px;
            margin-top: 20px;
        }
        .card-body{
            margin-left: 80px;
            img{
                border-radius: 10px;
            }
            p{
                margin-left: -50px !important;
                font-size: 24px;
            }
            #chem-img{
                margin-top: 30px;
                margin-bottom: 30px;
            }
            
        }
    }
}
@media(max-width:380px){
    #chemistry{
        .card-title{
            margin-left: 20px !important;
        }
        .card-body{
            margin-left: 40px !important;
        }
        
    }
}
@media(min-width:381px) and (max-width:420px){
    #chemistry{
        .card-title{
            margin-left: 40px !important;
        }
        .card-body{
            margin-left: 40px !important;
        }
    }
}