#logo-bar{
    height: 100vh;
    position: absolute;
    top: 70% !important;
    overflow: auto;
    left: 87%;z-index: 51;
   a{
        width: 150px;
    color: #fff;
    position: fixed;
    border-radius: 20px;
    background: #ff3115;
   
    }
   a:hover{
        background:#fff ;
        color:#ff3115 ;
        border: 2px solid #ff3115;
    }
}

@media(max-width:600px){
    #logo-bar{
        left: 50% !important;
    }
}
