#logo-bar{
    position: absolute;
    top: 720px;
    overflow: auto;
    left: 1250px;
    button{
    color: #fff;
    position: fixed;
    border-radius: 20px;
    background: #ff3115;
   
    }
}
