<div id="music">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Music & Dance</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/music/music1.png" alt="Music & Dance" class="img-fluid">
                        </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead">
                            Music is the food of the soul. It is the source of solace and upliftment.
                             Vocal music training is given to the students and children are taught to use various instruments like Congo, Bongo, Harmonium, Casio and guitar.
                             Indian and Western Indian dances like classical, folk and contemporary dances are taught in the school.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/music/music3.png" alt="Music & Dance" class="img-fluid">
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <img src="/assets/img/music/music2.png" alt="Music & Dance" class="img-fluid" style="width: 600px;">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/music/music4.png" alt="Music & Dance" class="img-fluid" style="width: 300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>