#music{
    .card{
        
        border-radius: 20px;
        .card-title{
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            margin-left: 70px;
            margin-top: 20px;
        }
        .card-body{
            margin-bottom: 30px;
            margin-left: 30px;
            img{
                border-radius: 10px;
                margin-bottom: 20px;
                height: 300px;
                
            }
            p{
                margin-left: -10px !important;
                
            }
            
        }
    }
}
@media(max-width:380px){
    #music{
        .card-title{
            margin-left: 40px !important;
        }
        .card-body{
            margin-left: 20px !important;
        }
    }

}
@media(min-width:381px) and (max-width:420px){
    #music{
        .card-title{
            margin-left: 50px !important;
        }
        .card-body{
            margin-left: 20px !important;
        }
    }

}
@media(min-width:770px) and (max-width:991px){
    #music{
        p{
            font-size: 16px !important;
        }
    }
}