<div id="biology">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Biology Lab</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/biology/bio1.png" alt="Biology" class="img-fluid">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead">To provide first hand knowledge to the students about the subject the biology lab is fully equipped with all the required specimens, thus helping students to acquire necessary skill and confidence in an innovative environment.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/biology/bio2.png" alt="Biology" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>