<div id="seminar">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Seminar & Workshop</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/seminar/seminar1.png" alt="Seminar & Workshop" class="img-fluid">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead">MASD does not work in isolation. Workshops, seminars, guest lectures provide value added inputs to students over and above the course curriculum.
                             It is a regular activity finding prominent place in the school calender.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/seminar/seminar2.png" alt="Seminar & Workshop" class="img-fluid">
                    </div>
                </div>
                <p class="lead">Eminent educationists from the institutions of higher education, from India and abroad are invited to enrich students' learning experiences through interactions.
                     Special care is given for personality development by organizing behavioural workshops, secrets of success and other related issues of personal grooming.
                </p>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/seminar/seminar3.png" alt="Seminar & Workshop" class="img-fluid" style="height: 260px;">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead">
                            Different stages of school education necessitates a fresh and thorough overhauling.
                             To ensure quality, proficiency and excellence in teaching methodology, teachers attend special orientation programmes, workshops and seminars from time to time.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/seminar/seminar4.png" alt="Seminar & Workshop" class="img-fluid" style="height: 260px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>