<div id="curriculum">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Curriculum</h1>
            <div class="card-body">
                <p class="lead">M.A.S.D is a Senior Secondary School affiliated to Central Board of Secondary Education.
                     The C.B.S.E. curriculum is followed and students are prepared for All India Senior Secondary School Examination (Class XII) in Science and Commerce with a variety of optional subjects for class XII students.
                     Implementation of curriculum is carried out in a meticulous and dynamic manner.
                     Students are also given additional inputs in Personality Development and value education.
                     Apart from its academic activities, the school has been providing continuous training to its students as they participate in various inter-school activities.
                </p>
            </div>
        </div>
    </div>
</div>