<!-- School Facilities -->

<div id="facilities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2>OUR FACILITIES</h2>
                <hr class=" pb-2" style="width: 240px; background-color: #ff3115;">  
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- card Slider -->
                    <div class="carousel slide" id="slide2"
                    data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#slide2" data-slide-to="0"></li>
                        <li data-target="#slide2" data-slide-to="1"></li>
                        <li data-target="#slide2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" id="part1">
                            <div class="row">
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Chemistry Lab -->
                                    <div class="card text-center " routerLink="/facility/chemistry-lab">
                                        <img src="/assets/img/chemistry_lab.jpg" alt="Chemistry lab"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Chemistry Lab</h3>
                                            <hr>
                                            <p class="lead">Chemistry lab is a well ventilated Hall and has been recently renovated to provide a clear and hygienic ambience to carry out experiments. The lab is annually upgraded with the latest equipments and safety gadgets.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Smart Class -->
                                    <div class="card text-center " routerLink="/facility/smart-class">
                                        <img src="/assets/img/smart-class/smart1.png" alt="Smart Class"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Smart Class</h3>
                                            <hr>
                                            <p class="lead">Learning with the help of Smart Class technology is fun and easy. Our Online lessons with animations, multimedia modules, video tutorials and practice tests help you comprehend and internalize abstract learning concepts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Swimmimg pool -->
                                    <div class="card text-center " routerLink="/facility/pool">
                                        <img src="/assets/img/pool/pool2.png" alt="Swimming Pool"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Swimmimng Pool</h3>
                                            <hr>
                                            <p class="lead" >
                                                Swimming / Splash Pool: is an additional feature of the school. Here the students are taught how to swim and learn the basic concepts of swimming under the observation of trained and dedicated teachers.  Separate timings for boys and girls are fixed.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Math Lab -->
                                    <div class="card text-center " routerLink="/facility/math-lab">
                                        <img src="/assets/img/math_lab.jpg" alt="Math lab"
                                        class="img-fluid " style="height: 240px;">
                                        <div class="card-body">
                                            <h3 class="card-title">Math Lab</h3>
                                            <hr>
                                            <p class="lead">Mathematics Laboratory is a place where students can learn and explore mathematical concepts and verify mathematical facts and theorems through a variety of activities using different materials.
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Art Lab -->
                                    <div class="card text-center " routerLink="/facility/art-lab">
                                        <img src="/assets/img/art/art1.png" alt="Art Lab"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Art Lab</h3>
                                            <hr>
                                            <p class="lead">
                                                To unearth and canalize the hidden talents of its students, MASD offers a fully air conditioned, well equipped Arts Lab, where the students brush and colour their feelings and aspirations on the piece of canvas.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Robotics Lab -->
                                    <div class="card text-center " routerLink="/facility/robotics-lab">
                                        <img src="/assets/img/robot/robot1.png" alt="Robotics Lab"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Robotics Lab</h3>
                                            <hr>
                                            <p class="lead">
                                                Robotics is the branch of mechanical engineering, electrical engineering and computer science that deals with the design, construction, operation, and application of robots, as well as computer systems for their control, sensory feedback, and information processing.   
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Physics Lab -->
                                    <div class="card text-center " routerLink="/facility/physics-lab">
                                        <img src="/assets/img/physics_lab.jpg" alt="Physics lab"
                                        class="img-fluid" style="height: 240px;">
                                        <div class="card-body">
                                            <h3 class="card-title">Physics Lab</h3>
                                            <hr>
                                            <p class="lead">
                                                The Physics Lab is a spacious hall that can accommodate 30-35 students at a time. Lab activities and experiments engage student’s mind which help them to acquire necessary skill and confidence.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Biology Lab -->
                                    <div class="card text-center " routerLink="/facility/biology-lab">
                                        <img src="/assets/img/biology/bio2.png" alt="Biology Lab"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Biology Lab</h3>
                                            <hr>
                                            <p class="lead">
                                                To provide first hand knowledge to the students about the subject the biology lab is fully equipped with all the required specimens, thus helping students to acquire necessary skill and confidence in an innovative environment.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col md-4 col-sm-4">
                                    <!-- Music & Dance -->
                                    <div class="card text-center " routerLink="/facility/music">
                                        <img src="/assets/img/music/music1.png" alt="Music & Dance"
                                        class="img-fluid">
                                        <div class="card-body">
                                            <h3 class="card-title">Music & Dance</h3>
                                            <hr>
                                            <p class="lead">
                                                Music is the food of the soul. It is the source of solace and upliftment. Vocal music training is given to the students and children are taught to use various instruments like Congo, Bongo, Harmonium, Casio and guitar.     
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                     </div>

                     <!-- controller -->
                        <a href="#slide2" class="carousel-control-prev" id="prev"
                        data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#slide2" class="carousel-control-next" id="next"
                        data-slide="next">
                            <span class="carousel-control-next-icon bg-primary"></span>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>