$primary: #3292a6;
#facilities{
    position: relative;
    margin-bottom: 100px;
    margin-top: 60px;
    h2{
        font-weight: bold;
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 30px;
    }
    
    hr{
        border-radius: 5px;
    }
    .card{
        height: 550px;
        border-radius: 10px;
       
        .card-body:hover{
            background: #ff3115;
            color: #fff;
            .card-title{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
        .card-title{
            font-weight: bold;
            font-family:'Roboto Condensed',sans-serif ;
            color: #212121;
        }
        p{
            font-family:'Roboto Condensed',sans-serif ;
            font-size: 16px; 
            color: #505050;
        }
    }
    .carousel-control-prev{
        margin-left: -100px !important;
        span{
            border-radius: 30px;
            background-color:#ff3115 !important;
            width:60px !important;
            height: 60px !important;
        }
    }
    .carousel-control-next{
        margin-right: -100px !important;
        span{
            border-radius: 30px;
            background-color:#ff3115 !important;
            width:60px !important;
            height: 60px !important;
        }
    }
    .carousel-item{
        img{
            max-height: 300px;
            border-top-left-radius:10px ;
            border-top-right-radius:10px ;
        }
    }
}
@media(max-width:380px){
    .card{
        max-height:500px !important ;
        .card-body{
            h3{
                font-size: 12px;
            }
            p{
                font-size: 10px !important;
            }
        }
    }
}
@media(min-width:381px) and (max-width:420px){
    .card{
        max-height:500px !important ;
        .card-body{
            h3{
                font-size: 12px;
            }
            p{
                font-size: 10px !important;
            }
        }
    } 
}