<div id="auditorMessage">
    <div class="container">
        <div class="card shadow-lg">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-danger text-center">Auditor Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/auditor.jpg" alt="Auditor" class="img-fluid">
                    <h4>Shashank Aggarwal </h4>
                </div>
            </div>
            <div class="card-body">
                <p class="lead">
                    Dear respected Patrons, and well-wishers of M.A.S.D. Public School, Panipat.</p>
                    <p class="lead">At the very outset, it is my proud privilege to greet you, with warm prayerful best wishes and choicest showers of blessings from the almighty God. </p>
                    <p class="lead">I have been enquiring from a number of parents and guardians, when they had an option to make, then, why did they desire to seek admissions for their children and wards at M.A.S.D. Public School, Panipat. Their quick and spontaneous response was that they could not find another school like M.A.S.D., known for its name, fame and good repute. Further they said that it is one of the best schools of Panipat, known for academic, curricular, co-curricular and extra-curricular activities combined with the flavour of discipline, devotion and dedication with which the management and teaching faculty is committed to take care the welfare of the students. The School campus is surrounded by lush green grass, trees, and flowers, adding to the harmony of an echo friendly peaceful atmosphere. It has massive play grounds with indoor and outdoor sports facilities. The students are taught skills and techniques in good health and hygiene.</p>
                    <p class="lead">Great men were not great when they were born nor when they started their career, but made themselves great by learning, learning and learning. As once Leonardo Da Vinci the great Italian artist and scientist remarked, “Iron rusts from disuse, stagnant water loses its purity and in the cold weather water becomes frozen; even so does inaction sap the vigour of the mind”.</p>
                    <p class="lead">Have not the people seen for ages, apples falling from the trees? But surprisingly, Isaac Newton observed it and he discovered the law of gravity. Christopher Columbus charted a course in an unknown ocean and Thomas Edison the idea of electric bulb. To quote former president of India, Mr. Abdul Kalam “Dreams are not those you get when you sleep, but dreams are those that don’t let you sleep”.</p>
                    <p class="lead">Our humble endeavour at M.A.S.D. has been to encourage and prepare our students, in every way to face the difficult challenges of today, boldly and whole heartedly.</p>
                    <p class="lead">We gratefully acknowledge your trust and confidence deposed in M.A.S.D. School, by giving us an opportunity to serve you and your children in a better way. Once again, I wish all the students, parents and guardians better cooperation and great success.</p>
                    <p class="lead">Yours Sincerely</p>
                    <p class="lead">Shashank Aggarwal</p>
                    <p class="lead">Auditor</p>    
            </div>
        </div>
    </div>
</div>