<div  id="footer">
    <img src="/assets/img/crowd.jpg" alt="" class="img-fluid w-100" style="filter: brightness(20%);height: 700px;">
    <div class="container">
        <div class="card bg-dark text-light">
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="address">
                    <span><i class="fas fa-map-marker-alt " style="font-size: 24px;color: #ff3115;"></i></span>
                    <h4>Address</h4>
                    <p>Faridpur Road, Near Toll Plaza,
                            Post Box No. #66, Panipat
                            Haryana - 132103.</p>
                </div>

                <div class="v1"></div>
                <div class="v2"></div>
                <div class="v1"></div>
                <div class="col-lg-3 col-md-3 col-sm-3" id="phone">
                    <span><i class="fas fa-phone-square-alt text-danger" style="font-size: 24px;color: #ff3115;"></i></span>
                    <h4>Phone Number</h4>
                    <p>+91-9992023600</p>
                    <p style="margin-top: -10px;">+91-8222877165</p>
                </div>
                <div class="v1"></div>
                <div class="v2"></div>
                <div class="v1"></div>
                <div class="col-lg-4 col-md-4 col-sm-4" id="email">
                    <span><i class="fas fa-envelope-square text-danger" style="font-size: 24px;color: #ff3115;"></i></span>
                    <h3>Email Address</h3>
                    <p>masd1@rediffmail.com</p>
                    <p style="margin-top: -12px;">masdschool@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="row  text-light" id="detail">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center" id="school-logo">
                <img src="/assets/img/School_Logo.png" alt="MASDSchool" class="img-fluid" style="height: 100px;width: 100px;">
                <h3 class="mb-5 mt-3">MASD PUBLIC SCHOOL</h3>
                <p class="d-none d-block-md">MASD Public School was incorporated in 1983 with a mission and a visionary dream to dispel the darkness of illiteracy and provide an innovative platform for young children to develop the skills and academic excellence. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2>Quick Links</h2>
                <hr class=" w-25 " style="background-color: #ff3115;">
                <a class="lead" routerLink="/registration"><i class="fas fa-chevron-right m-2"></i>Online Enquiry</a>
                <br>
                <a class="lead"><i class="fas fa-chevron-right m-2"></i>Teachers Details</a> <br>
                <a class="lead" routerLink="/student/slc"><i class="fas fa-chevron-right m-2"></i>Check SLC</a><br>
                <a class="lead" href="https://data.odpay.in/odforms/form/MASDEmployeeRecruitment/formperma/25NbIupryH-EZpOsjzF4_fLD5fp42vX-fdyvgejYP0s" target="_blank"><i class="fas fa-chevron-right m-2"></i>Apply For Jobs</a>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2>Useful Links</h2>
                <hr class=" w-25 " style="background-color: #ff3115;">
                <a class="lead" (click)="toSyllabus()"><i class="fas fa-chevron-right m-2" ></i>Syllabus</a> <br>
                <!-- <a class="lead" href="https://drive.google.com/file/d/1_nSgaYdYc-BV8KqajTPiOzme9QInAvbo/view?usp=sharing" download target="_blank"><i class="fas fa-chevron-right m-2"></i>Book List</a><br> -->
                
                <a class="lead d-none d-md-block" [routerLink]="'/'" [fragment]="'news-calender'"><i class="fas fa-chevron-right m-2"></i>Circulars</a>
                <a class="lead d-none d-md-block" (click)="toHomework()"><i class="fas fa-chevron-right m-2" ></i>Holidays HomeWork</a>
                <a class="lead" href="https://drive.google.com/file/d/153zVMhytDTAIn0btdaSV0XAvQOa7fdWn/view?usp=sharing" target="_blank"><i class="fas fa-chevron-right m-2"></i>Event Calender</a>
                <!-- <a class="lead d-none d-md-block"><i class="fas fa-chevron-right m-2"></i></a> -->
                <!-- <a class="lead"><i class="fas fa-chevron-right m-2"></i>Online Result</a> -->
            </div>
        </div>
        <div class="row text-center text-light" id="social">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a class="mr-2 social1" href="https://www.facebook.com/masdschool" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a class="mr-4 social1" href="https://www.youtube.com/channel/UCYFkugTM5lsQSVOyzmEkkVw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
            
            </div>
        </div>
        <!-- <hr style="background-color: #fff;"> -->
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="text-danger" style="font-size: 100%;margin-top: 1%;"><span class="text-info">&copy; 2020.Website Designed by</span>  Okie Dokie Solutions LLP</h4 >
            </div>
        </div>
    </div>
</div>