<div  id="footer">
    <img src="/assets/img/crowd.jpg" alt="" class="img-fluid w-100" style="filter: brightness(60%);height: 700px;">
    <div class="container">
        <div class="card bg-dark text-light">
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="address">
                    <span><i class="fas fa-map-marker-alt text-danger" style="font-size: 24px;"></i></span>
                    <h4>Address</h4>
                    <p>Faridpur Road, Near Toll Plaza,
                            Post Box No. #66, Panipat
                            Haryana - 132103.</p>
                </div>
                <div class="v1"></div>
                <div class="v2"></div>
                <div class="v1"></div>
                <div class="col-lg-3 col-md-3 col-sm-3" id="phone">
                    <span><i class="fas fa-phone-square-alt text-danger" style="font-size: 24px;"></i></span>
                    <h4>Phone Number</h4>
                    <p>+91-9992023600</p>
                    <p style="margin-top: -10px;">+91-8222877165</p>
                </div>
                <div class="v1"></div>
                <div class="v2"></div>
                <div class="v1"></div>
                <div class="col-lg-4 col-md-4 col-sm-4" id="email">
                    <span><i class="fas fa-envelope-square text-danger" style="font-size: 24px;"></i></span>
                    <h3>Email Address</h3>
                    <p>masd1@rediffmail.com</p>
                    <p style="margin-top: -12px;">masdschool@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center text-light" id="detail">
            <div class="col-lg-4 col-md-4 col-sm-4" id="school-logo">
                <img src="/assets/img/School_Logo.png" alt="MASDSchool" class="img-fluid" style="height: 100px;width: 100px;">
                <h3 class="mb-5 mt-3">MASD PUBLIC SCHOOL</h3>
                <p>MASD Public School was incorporated in 1983 with a mission and a visionary dream to dispel the darkness of illiteracy and provide an innovative platform for young children to develop the skills and academic excellence. The institution has a glorious tradition of being committed to the cultivation of mind, body and spirit which helps our students to become balanced, disciplined, talented and competent human beings.  </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Quick Links</h2>
                <hr>
                <p class="lead">Online Enquiry</p>
                <p class="lead">Photo Gallery</p>
                <p class="lead">News Updates</p>
                <p class="lead">Teachers Details</p>
                <p class="lead">Check SLC</p>
                <p class="lead">Apply For Jobs</p>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Useful Links</h2>
                <hr>
                <p class="lead">HomeWork</p>
                <p class="lead">Holidays</p>
                <p class="lead">EventCalender</p>
                <p class="lead">Circulars</p>
                <p class="lead">Syllabus</p>
                <p class="lead">Book List</p>
                <p class="lead">Online Result</p>
            </div>
        </div>
        <div class="row text-center text-light" id="social">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="mr-2 social1"><i class="fab fa-twitter"></i></span>
                <span class="mr-2 social1"><i class="fab fa-google-plus-g"></i></span>
                <span class="mr-2 social1"><i class="fab fa-facebook-square"></i></span>
                <span class="mr-4 social1"><i class="fab fa-linkedin"></i></span>
            
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="text-danger"><span class="text-info">&copy; 2018.Website Designed by</span>  OkieDokiePay Pvt Ltd</h4 >
            </div>
        </div>
    </div>
</div>