<div id="summer">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Holidays Homework-Summer</h1>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 75%;">Detail</th>
                            <th scope="col" style="width: 25%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>