<div id="meal-chart">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Meal Chart</h1>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 75%;">Detail</th>
                            <th scope="col" style="width: 25%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MID DAY MEAL MENU OF APRIL {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/15DxNyk7QPMdhpn_SaDx4E1fDH4W7ve4s/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF MAY {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1QyDL75Elb5UrR50q27xt-gHrOez5QM-n/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF JUNE {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1E8zIFeQ4NLeFD4LM4WxR5HeCpku18FVM/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF JULY {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1VA7Ikh0ozZ26pP9dsfl2gWsPzdHn9Ybf/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF AUGUST {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1flUPQi1-aomEWCf2xLfZG8ZnnMQbo94A/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF SEPTEMBER {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1NCYsr-yCOMZTk9MI97OSdDsIoc4bOKum/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF OCTOBER {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1gK9vHICtvZIaQjNbi0vRba4NiqrwfsyY/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF NOVEMBER {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1cjR-xevGO1Z5Y7Rr3XGXEhoPYy814BRV/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF DECEMBER {{currentYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1yoviZNahhNwoOt7_i4uDidtHgge2Dsco/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF JANUARY {{nxtYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1mRls71Z5yCHEkge8JX6_uTuyIOOUJ1ud/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>MID DAY MEAL MENU OF FEBRUARY {{nxtYear}}</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1FWZFsgJmyV8hNAc6TMpbKUGKx4R-N-HH/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>