<div id="robot">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Robotics Lab</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/robot/robot1.png" alt="Robotics" class="img-fluid">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead">
                            Robotics is the branch of mechanical engineering, electrical engineering and computer science that deals with the design, construction, operation, and application of robots, as well as computer systems for their control, sensory feedback, and information processing.
                            
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/robot/robot2.png" alt="Robotics" class="img-fluid">
                    </div>
                </div>
                <p class="lead"> These technologies deal with automated machines that can take the place of humans in dangerous environments or manufacturing processes, or resemble humans in appearance, behavior, and/or cognition.
                    Many of today's robots are inspired by nature contributing to the field of bio-inspired robotics.
                    Robotics brings together several very different engineering areas and skills.
                    There is metalworking for the body.
                    There is mechanics for mounting the wheels on the axles, connecting them to the motors and keeping the body in balance.
                    </p>
                    
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <img src="/assets/img/robot/robot3.png" alt="Robotics" class="img-fluid">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <p class="lead">
                                You need electronics to power the motors and connect the sensors to the controllers.
                                At last you need the software to understand the sensors and drive the robot around.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="/assets/img/robot/robot4.png" alt="Robotics" class="img-fluid">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>