<div id="testimonial">
    <div class="container">
        <div class="text-center" id="testimonial-title">
            <h2>WHAT PARENT SAYS</h2>
            <hr class="pb-2">
        </div>
        <div class="carousel slide" id="slide3" data-ride="carousel">
            <!-- Indicator -->
            <ol class="carousel-indicators">
                <li class="active indicator" data-target="#slide3"
                data-slide-to="0"></li>
                <li class="indicator" data-target="#slide3" data-slide-to="1"></li>
                <li class="indicator" data-target="#slide3" data-slide-to="2"></li>
            </ol>
            <!-- img URL -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                
                                    <img src="/assets/img/testimonial/test4.jpg" alt="person1" class="img-fluid rounded-circle">
                              
                                <div class="card-body">
                                    <span><i class="fas fa-quote-left"></i></span>
                                    <h3 class="card-title">Umesh Goyal</h3>
                                    <p>
			                            Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                    </p>
                                    <span><i class="fas fa-quote-right float-right"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            
                            <div class="card">
                                <img src="/assets/img/testimonial/test1.jpeg" alt="person1" class="img-fluid rounded-circle">

                                <div class="card-body">
                                    <span><i class="fas fa-quote-left"></i></span>
                                    <h3 class="card-title">Umesh Goyal</h3>
                                    <p>
			                            Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                    </p>
                                    <span><i class="fas fa-quote-right float-right"></i></span>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <img src="/assets/img/testimonial/test2.jpg" alt="person1" class="img-fluid rounded-circle">
                                <div class="card-body">
                                    <span><i class="fas fa-quote-left"></i></span>
                                    <h3 class="card-title">Umesh Goyal</h3>
                                    <p>
			                            Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                    </p>
                                    <span><i class="fas fa-quote-right float-right"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <img src="/assets/img/testimonial/test3.jpg" alt="person1" class="img-fluid rounded-circle">
                                <div class="card-body">
                                    <span><i class="fas fa-quote-left"></i></span>
                                    <h3 class="card-title">Umesh Goyal</h3>
                                    <p>
			                            Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                    </p>
                                    <span><i class="fas fa-quote-right float-right"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- controller -->
            <a href="#slide3" class="carousel-control-prev"
            data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#slide3" class="carousel-control-next"
            data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        
    </div>
</div>