<div id="winter">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Holidays Homework-Winter</h1>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 75%;">Detail</th>
                            <th scope="col" style="width: 25%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CLASS 1</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1RwE55RHDeIKs20bfFaol4cfhRMMT2yyE/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 2</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1WmOsU__u48JYmobwQIogGgt6FoEXuyOt/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 3</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1OulT-_Qo8G-n3nlq5FdjLfJ_YWOPDKlL/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 4</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1PiyFSKGQnPYVpSTecNjdCE8_-3j3WYwc/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 5</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1T_iz1sYqBKgxVV634XqjDyrdeuf2jut_/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 6</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1SYDVA11XFGnIlNx0WZgMpiVa8SOQk81d/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 7</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1wt4az_M2ZSJ_Cna-UBuEm931ePZjDVwo/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 8</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1ls-hyQeCewWt20wTfjutyqutlfPzYgjN/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 9</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1byEgdt95xhZ1rdSrjh1XOWZ6v6GI7SlT/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 10</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1Ilw1-8FeULMQltXcP3-lQX3lpx82sV0P/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 11</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1Q_6D37ArM7DkeoF9dC3YHtf3ADZ10vtr/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 12</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1KIakhBrtkCPgiPc9ZkAIazFIUhCWnHdL/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>