<div id="art">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Art Lab</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/art/art1.png" alt="Art" class="img-fluid">
                        <img src="/assets/img/art/art3.png" alt="Art" class="img-fluid">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p class="lead">
                            To unearth and canalize the hidden talents of its students, MASD offers a fully air conditioned, well equipped Arts Lab, where the students brush and colour their feelings and aspirations on the piece of canvas. While playing with the canvas and colour the students bring subject to life and turn abstractions into concrete realities. The walls of the Arts Lab are decorated with the paintings drawn by the students which give them a feel of pride and self satisfaction.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="/assets/img/art/art2.png" alt="Art" class="img-fluid">
                        <img src="/assets/img/art/art4.png" alt="Art" class="img-fluid">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>