<div id="facility">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="school-image">
            <img src="/assets/img/about-school.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-3 col-md-3 " id="facility-type">
            <div class="container">
                <div class="card shadow-lg ">
                    <h3 class="card-title text-center">Facilities</h3>
                    <hr class="bg-danger pb-1 w-50">
                    <div class="card-body">
                        <p class="lead" routerLink="/facility/chemistry-lab"><span><i class="fas fa-angle-double-right"></i></span>Chemistry Lab</p>
                        <p class="lead" routerLink="/facility/smart-class"><span><i class="fas fa-angle-double-right"></i></span>Smart Class</p>
                        <p class="lead" routerLink="/facility/pool"><span><i class="fas fa-angle-double-right"></i></span>Swimming Pool</p>
                        <p class="lead" routerLink="/facility/math-lab"><span><i class="fas fa-angle-double-right"></i></span>Math's Lab</p>
                        <p class="lead" routerLink="/facility/art-lab"><span><i class="fas fa-angle-double-right"></i></span>Art Lab</p>
                        <p class="lead" routerLink="/facility/robotics-lab"><span><i class="fas fa-angle-double-right"></i></span>Robotics Lab</p>
                        <p class="lead" routerLink="/facility/physics-lab"><span><i class="fas fa-angle-double-right"></i></span>Physics Lab</p>
                        <p class="lead" routerLink="/facility/biology-lab"><span><i class="fas fa-angle-double-right"></i></span>Biology Lab</p>
                        <p class="lead" routerLink="/facility/music"><span><i class="fas fa-angle-double-right"></i></span>Music & Dance</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9" id="facility-detail">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>