<div id="principal">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">From Principal Desk</h1>
            <div class="card-body">
                <p class="lead">
                    Education is the process by which an individual relates himself to the universe. It is a means by which the youth is trained to serve the causes of drastic social and economic changes. Education is about building character, enriching minds and about varied experiences that last a life time. The four pillars of education are LEARNING TO KNOW, LEARNING TO DO, LEARNING TO LIVE TOGETHER AND LEARNING TO BE.</p>
                    <p class="lead">In the process of education the role of parents and teachers is very important to support a child morally and emotionally. Parents and teachers should develop a friendly attitude towards the child and encourage him to feel free to discuss various problems with them. His independent thinking should be encouraged. Parents and teachers should strike equilibrium between modern and traditional values.</p>
                    <p class="lead">A child centric place, MASD offers a spectrum of activities leading to multiple experiences and enrichment of students. We offer a curriculum that is both innovative and comprehensive. Our focus on high achievement is unrelenting and our primary focus will be to serve the society throughout the school years. </p>
                    <p class="lead">Yours Sincerely</p>
                    <p class="lead">Ajay Kumar Gupta</p>
                    <p class="lead">Principal</p>    
            </div>
        </div>
    </div>
</div>