<div id="principal">
    <div class="container">
        <div class="card shadow-lg">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-danger text-center">Principal Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/principal.jpeg" alt="Principal" class="img-fluid">
                    <h4>Mrs. Babita Bharadwaj</h4>
                </div>
            </div>
            <div class="card-body">
                <p class="lead">
                    Welcome to Maharaja Agarsen Sanatan Dharam Public School!</p>
                    <p class="lead">It is rightly said that “The whole purpose of education is to teach the child to think and not what to think”. We at MASD Public School trust that this is the fundamental truth, and it has always been the endeavor of the school to instill right values in its students so that they develop a holistic personality and are ready to take on the challenges head on once they step out of the gates of the school.</p>
                    <p class="lead">Every child is a fountainhead of potential, which we at MASD Public School recognize and appreciate. It is our responsibility to foster the creative spirit inherent in every child. A variety of facilities and opportunities are provided to our children so that they may hone their skills and maximize their potential. Their ability to produce work of a superlative nature is what never ceases to astound us. </p>
                    <p class="lead">We have set out on an elevating and stimulative journey with the aim of providing our children an exclusive learning experience by teaching them to march ahead with constructive attitude, skill, confidence, sensitivity, and accountability.</p>
                    <p class="lead">The unmatched and impressive heights of glory at which our school stands today bears testimony to the fact the school is fiercely committed to pursue excellence in all the fields, be it in academia, sports, ethics or aesthetics. In this contemporary world where cut throat competition has become a part and parcel of life, it is of supreme importance that we teach our children to be competent enough to stand tall amongst others with their extraordinary skills and come out victorious from the realms of this challenging labyrinth.
                    </p>
                    <p class="lead">We emanate and sprinkle an atmosphere where each child receives love, dignity, and acceptance. The trust here is to blend thoroughly the modern and traditional approach which is conducive for learners. Children here learn through exploration and experimentation with a plethora of extra - curricular activities, the students gain optimum exposure and acquire confidence. We are focused to achieve our aim by providing an exemplary infrastructure to work upon a child’s physical, mental and artistic faculties.
                    </p>
                    <p class="lead">The reputation, the school has acquired and established over these years is due to the dedication and selfless commitment of teachers, supporting staff, and the students. With the support of the staff and families, our students explore, express and excel academically and creatively. I appreciate the dedication and the selfless service of the
                        teachers of the past and the present and wish them all, best of fortune, peace and prosperity for their contribution to the noble task of spreading education and its manifest qualities, aims and objectives.</p>
                    <p class="lead">The highest education is that which does not merely give us information but makes our life in harmony with all existence.</p>
                    <p class="lead">This is the kind of education we strive to impart in MASD Public School.</p>
                    <p class="lead"><i>“Let noble thoughts come to us from every side”
                    </i></p>
                    <p class="lead">तस्मादसक्तः सततं कायं कमम समाचर।</p>
                    <p class="lead">ऄसक्तो ह्याचरन्कमम परमाप्नोतत पूरुषः॥ भगवद्गीता ३-१९</p>
                    <p class="lead">tasmādasaktaḥ satataṃ kāryaṃ karma samācara।</p>
                    <p class="lead">asakto hyācarankarma paramāpnoti pūruṣaḥ॥ Bhagwad Gita 3-19
                    </p>
                    <p class="lead">Hindi Translation:</p>
                    <p class="lead">तुम ऄनासक्त होकर सदवै कतमव्य कमम का स्यक अचर करो क्योंकक ऄनासक्त पुरुष कमम करता हुअ परमात्मा को प्राप्त होता है|</p>
                    <p class="lead">English Translation:</p>
                    <p class="lead">Go on efficiently doing your duty at all times without attachment. Doing work without attachment man attains the Supreme.</p>
                    <p class="lead">Mrs. Babita Bharadwaj</p>
                    <p class="lead">Principal,</p> 
                    <p class="lead">MASD Public School</p>   
            </div>
        </div>
    </div>
</div>