<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2>MASD PUBLIC SCHOOL</h2>
                <hr class="bg-danger w-50 p-1   ">
            </div>
        </div>
        <div class="d-flex row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <img src="/assets/img/school8.jpg" alt="MASD PUBLIC SCHOOL" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <h3>Welcome To MASD Public School</h3>
                <hr >
                <p class="lead">MASD Public School was incorporated in 1983 with a mission and a visionary dream to dispel the darkness of illiteracy and provide an innovative platform for young children to develop the skills and academic excellence.</p>
                <div class="d-flex row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="accordion">
                            <div class="card mb-1">
                                <div class="card-header">
                                    <h5><a href="#collapse1" 
                                        
                                        data-toggle="collapse">Our History</a>
                                    </h5>
                                    
                                    <div class="collapse" id="collapse1" data-parent="#accordion">
                                        <hr>
                                        <div class="card-body">
                                            Maharaja Agarsen Shri S.D. Education Society (Sanatan Dharam Education Society) is a non-profit organization that has been a pioneer in the field of education since 1946. For over 63 years, Shri S.D. Education Society has been at the forefront of Quality Education in the state of Haryana. Shri S.D.Education Society also manages and runs different schools along with Asia Pacific Institute of Information Technology (APIIT) and has emerged as one of the finest educational societies in India.The society has been whole heartedly committed to excellence and takes full responsibility for building a bright future of thousands of students every year.
                                            <br>
                                            <button class="btn btn-warning mt-2" routerLink="/about/masd">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-1">
                                <div class="card-header">
                                    <h5><a href="#collapse2" 
                                        
                                        data-toggle="collapse">Chairman Message</a>
                                    </h5>
                                    
                                    <div class="collapse" id="collapse2" data-parent="#accordion">
                                        <hr>
                                        <div class="card-body">
                                            Having established in 1983, M.A.S.D. Public School has been souring high on the wings of successful flight.  We feel ‘wise' on one hand, when we look at the established identity we enjoy as an institution where learning is purposeful, progressive and empowering. On the other hand, we feel the excitement of an initiate because each day executed well makes us eager to learn, to explore, to experiment and absorb more.
                                            <br>
                                            <button class="btn btn-warning mt-2" routerLink="/about/chairman-message">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-1">
                                <div class="card-header">
                                    <h5><a href="#collapse3" 
                                        
                                        data-toggle="collapse">Vice Chairman Message</a>
                                    </h5>
                                    
                                    <div class="collapse" id="collapse3" data-parent="#accordion">
                                        <hr>
                                        <div class="card-body">
                                            “We cannot always build the future for our youth, but we can build our youth for the future.” These words by Franklin Roosevelt describe our aim at MASD.
                                            <br>
                                            <button class="btn btn-warning mt-2" routerLink="/about/viceChairman-message">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Member Detail -->
        <div class="row" id="member">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card shadow-lg mt-3">
                    <img src="/assets/img/chairman.jpg" alt="Chairman" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" style="font-family:sans-serif;">Anil Bindle</h3>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning btn-block" routerLink="/about/chairman-message">Chairman Message</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card shadow-lg mt-3">
                    <img src="/assets/img/vice_chairman.jpg" alt="Vice Chairman" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" style="font-family:sans-serif;">Iswar garg</h3>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning btn-block" routerLink="/about/viceChairman-message"> Vice Chairman Message</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card shadow-lg mt-3">
                    <img src="/assets/img/auditor.jpg" alt="Auditor" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" style="font-family:sans-serif; font-size: 25px;">Shasank Aggarwal</h3>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning btn-block" routerLink="/about/auditor-message">Auditor Message</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card shadow-lg mt-3">
                    <img src="/assets/img/auditor.jpg" alt="Auditor" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" style="font-family:sans-serif;font-size: 25px;">Ajay Kumar Gupta</h3>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning btn-block" routerLink="/about/principal">Principal Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Moving Text and Calender -->

<div id="calender">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3>News Update</h3>
                <div class="movingText">
                    <div class="card">
                        <h4 class="card-title">[14-April-2020]</h4>
                        <div class="card-body">
                            <p class="lead">Ambedkar Jayanti</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ejs-calendar></ejs-calendar>
            </div>
        </div>
    </div>
</div>