<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2>ABOUT US</h2>
                <hr class=" p-1" style="width: 160px;">
            </div>
        </div>
        <div class="d-flex row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <img src="/assets/img/school/school1.jpg" alt="MASD PUBLIC SCHOOL" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <h3>Welcome To MASD Public School</h3>
                <hr >
                <p class="lead">MASD Public School was incorporated in 1983 with a mission and a visionary dream to dispel the darkness of illiteracy and provide an innovative platform for young children to develop the skills and academic excellence.</p>
                <div class="d-flex row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="accordion">
                            <div class="card mb-1">
                                <div class="card-header ">
                                    <h5 href="#collapse1" 
                                        data-toggle="collapse">Our History<i class="fas fa-caret-down"></i>
                                    </h5>
                                </div>
                                    <div class="collapse" id="collapse1" data-parent="#accordion">
                                        
                                        <div class="card-body">
                                            Maharaja Agarsen Shri S.D. Education Society (Sanatan Dharam Education Society) is a non-profit organization that has been a pioneer in the field of education since 1946. For over 63 years, Shri S.D. Education Society has been at the forefront of Quality Education in the state of Haryana. Shri S.D.Education Society also manages and runs different schools along with Asia Pacific Institute of Information Technology (APIIT) and has emerged as one of the finest educational societies in India.The society has been whole heartedly committed to excellence and takes full responsibility for building a bright future of thousands of students every year.
                                            <br>
                                            <button class="btn btn-warning mt-2" routerLink="/about/masd">Read More</button>
                                        </div>
                                    </div>
                            
                            </div>

                            <div class="card mb-1">
                                <div class="card-header">
                                    <h5 href="#collapse2" 
                                        data-toggle="collapse">Why MASD?<i class="fas fa-caret-down"></i>
                                    </h5>
                                </div>
                                    <div class="collapse" id="collapse2" data-parent="#accordion">
                                    
                                        <div class="card-body">
                                            MASD Public School was incorporated in 1983 with a mission and a visionary dream to dispel the darkness of illiteracy and provide an innovative platform for young children to develop the skills and academic excellence.
                                            <br>
                                            <button class="btn btn-warning mt-2" routerLink="/about/why-masd">Read More</button>
                                        </div>
                                    </div>
                                
                            </div>

                            <div class="card mb-1">
                                <div class="card-header">
                                    <h5 href="#collapse3" 
                                        data-toggle="collapse">Our Vision<i class="fas fa-caret-down"></i>
                                    </h5>
                                </div>
                                    <div class="collapse" id="collapse3" data-parent="#accordion">
                                    
                                        <div class="card-body">
                                            The motto of the school is “Love & Service.” We aim to provide right opportunity and environment for a harmonious all round development of personality of the students by giving thorough general education and also conserving the cultural heritage of our country.
                                            <br>
                                            <button class="btn btn-warning mt-2" routerLink="/about/history">Read More</button>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Calender & News Update -->
        <div id="news-calender">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div class="border" id="news">
                        <h3>News & Update</h3>
                        <hr>
                        <div class="row" >
                            <marquee behavior="scroll" direction="up" scrollamount="6"  onmouseover="this.stop();" onmouseout="this.start();" >
                                <div class="row" *ngFor="let new of news;let i=index" style="margin-bottom: 10px;">
                                    <p style="width: 100%;font-size: 1.5vw;">{{new.Date}}</p>
                                    <p style="width: 100%;">{{new.title}}</p>
                                    <br>
                                    <p style="color: #28B463 ;width: 100%;" >{{new.description}}</p>
                                    <a href="https://drive.google.com/file/d/1o542fvrnIrI9oC5MvsTHEzPTtlKZ3TYR/view?usp=sharing" class="text-warning" style="width: 100%;"  download>Download</a>
                                    <hr class="pb-1 bg-danger" style="width: 100%;">
                                </div>
                                
                                </marquee>
                            <!-- <marquee behavior="scroll" direction="up" scrollamount="1">{{new.title}}</marquee>
                            <marquee behavior="scroll" direction="up" scrollamount="1" style="color: #28B463 ;">{{new.description}}</marquee>
                            <marquee behavior="scroll" direction="up" scrollamount="1" class="text-warning"><a href="">Download</a></marquee> -->
                        </div>
                        <!-- <div class="movingText">
                            <div class="card " >
                                <div class="row" *ngFor="let new of news;let i=index">
                                <div class="card-body">
                                    <h5>{{new.Date}}</h5>
                                    <p class="mb-0" style="font-size: 18px;">{{new.title}}</p>
                                    <p class="mb-0 mt-0 mr-1" style="color: #28B463 ;">{{new.description}}</p>
                                    <a class="text-warning">Download</a>
                                    <hr>
                                </div>
                            </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div id="calender">
                        <ejs-calendar ></ejs-calendar>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div id="birthday">
                        <h3>Today's Birthday</h3>
                        <hr>
                        <div class="movingText" >
                            <div class="row">
                            <div class="card"  >
                                <div class="row mb-2" *ngFor="let birthday of birthdays;let i=index">
                                    <div class="col-lg-4 col-md-4 col-sm-4" style="border: 1px solid  #ff3115;border-right: 0px;left: 13px;height: 100px;border-radius: 5px;">
                                        <img src="/assets/img/profile.png" alt="person1" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 name" style="border: 1px solid  #ff3115;border-left: 0px;height: 100px;border-radius: 5px;">
                                        <div class="card-body">
                                            <h5>Name:{{birthday.StudentName}}</h5>
                                            <p> {{birthday.CourseName}}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Member Detail -->
        <div class="row" style="justify-content: center;" id="member">
            <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card  mt-3">
                    <img src="/assets/img/President.jpg" alt="President" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" >Dr. Vijay Aggarwal</h3>
                    </div>
                    <div class="card-footer">
                        <div id="button-4">
                            <div class="eff-4">
                            </div>
                        <a  routerLink="/">President Message</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card  mt-3">
                    <img src="/assets/img/secartary.jpg" alt="Secretary" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" >Sh. Dinesh Goel</h3>
                    </div>
                    <div class="card-footer">
                        <div id="button-4">
                            <div class="eff-4">
                            </div>
                        <a  routerLink="/">Secretary Message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card  mt-3">
                    <img src="/assets/img/chairman.jpeg" alt="Chairman" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" >Sh. Vinod Gupta</h3>
                    </div>
                    <div class="card-footer">
                        <div id="button-4">
                            <div class="eff-4">
                            </div>
                        <a  routerLink="/about/chairman-message">Chairman Message</a>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row" id="member">
            
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card  mt-3">
                    <img src="/assets/img/vice-chairman.jpeg" alt="Vice Chairman" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" >Sh. Aakash Garg</h3>
                    </div>
                    <div class="card-footer">
                        <div id="button-4">
                            <div class="eff-4">
                            </div>
                        <a  routerLink="/about/viceChairman-message">Vice Chairman Message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card  mt-3">
                    <img src="/assets/img/auditor.jpeg" alt="Auditor" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" >Sh. Neeraj Kumar</h3>
                    </div>
                    <div class="card-footer">
                        <div id="button-4">
                            <div class="eff-4">
                            </div>
                        <a  routerLink="/about/auditor-message">Auditor Message</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card  mt-3">
                    <img src="/assets/img/principal.JPG" alt="Principal" class="img-fluid">
                    <div class="card-body text-center">
                        <h3 class="card-title" >Sh. Ajay Kumar Gupta</h3>
                    </div>
                    <div class="card-footer">
                        <div id="button-4">
                            <div class="eff-4">
                            </div>
                        <a  routerLink="/about/principal">Principal Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Moving Text and Calender -->

<!-- <div id="calender">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3>News Update</h3>

                <div class="movingText border border-dark">
                    <div class="card ">
                        <h4 class="card-title " style="color: #ff3115;">[14-April-2020]</h4>
                        <div class="card-body">
                            <p class="lead">Ambedkar Jayanti</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ejs-calendar (renderDayCell)="customDates($event)"></ejs-calendar>
            </div>
        </div>
    </div>
</div> -->