<div id="smart">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Smart Class</h1>
            <div class="card-body">
                <p class="lead">Learning with the help of Smart Class technology is fun and easy. Our Online lessons with animations, multimedia modules, video tutorials and practice tests help you comprehend and internalize abstract learning concepts. The content repository consists of thousands of highly animated and lesson specific multimedia modules. Through regular news and updates, 24/7 available class content, tutorials and practice tests, students can stay ahead of the class.</p>
                    
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img src="/assets/img/smart-class/smart1.png" alt="Smart Class" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img src="/assets/img/smart-class/smart2.png" alt="Smart Class" class="img-fluid" style="height: 240px;width: 350px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>