<div id="syllabus">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Syllabus</h1>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 75%;">Detail</th>
                            <th scope="col" style="width: 25%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CLASS-PREP 1</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/15-RVHmTJUHruO7hS822UI7bCvK-Vz13y/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS-PREP 2</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1XHT5cmpzpg4JkHHUcOQbJTi0NclQ6cR0/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS K.G.</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1Ln82wHqsvJGcdyfhCV-C6TTOEAhAoAhR/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 1</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1X9ztuJOtqMOfrF5VCazfw0gHaO1abQai/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 2</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/12ubG5xRv85J-LH9UiLaQTECBehGG9Myx/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 3</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1OulT-_Qo8G-n3nlq5FdjLfJ_YWOPDKlL/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 4</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1338BlM9XJ4uX18Unys6wC-Ht_CIdnSD3/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 5</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1S_X3eN1aplidoKP-pQPocii1b8vKB80I/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 6</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1c1NJnje7csKVzGGBkyGZL773CsX8RRs_/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 7</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1kFwnDmuKZ1E_-s1nz7mFuraPajkib1jP/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 8</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/10ioEuwb_3KeCxqdtTEJn2JDrE4L-Dote/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 9</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1pyCr7GdbTsLwjFwVfDUzl0Nl3y1IBzUV/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 10</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/15-06uRZjDDCy8AdQ7Nh79xQH-cWkE26q/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 11</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1fmxTzcasf7xiWJhPWoZcKuGXjLneY12N/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 12</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/1i3eWH9rjH66CUNJuuIswnFVcboJ0V3sh/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <!-- <tr>
                            <td>CLASS 10 Preboard</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/12v3XMVqVJjRdt0oovnTsgKXvioFlq-OZ/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <td>CLASS 12 Preboard</td>
                            <td style="font-size: 20px;"><a href="https://drive.google.com/file/d/12UZ5HheslnK_QCkgoQ55aqhcTfdjieWg/view?usp=sharing" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr> -->

                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>