#topBar{
    p{
        width: fit-content;
    }
    .social:hover{
        color:#ff3115;
    }
    #university:hover{
        color: #ff3115;
    }
    #university{
        margin-left: -130px;
    }
}
.sticky{
    position: fixed;
    width: 100%;
    left: 0;
    top: 40px;
    z-index: 100;
    border-top: 0;

}

#info-header{
    margin-top: 35px;
    
    #mail{
        display: inline-block;
        padding-top: 1rem;
        font-size: 16px;
        span{
            display: inline;
        }
        #mail-logo{
            width: fit-content;
            span{
                color: #ff3115;
            }
        }
        #mail-text{
            margin-left: -20px;
            margin-top: 15px;
            width: fit-content;
        }
        
    }
    #school{
        padding-top: 10px !important;
        font-size: 50px;

        color: rgb(15, 91, 121);
        font-weight: bold;
        margin-left: 200px;
        display: inline-block;
        img{
            display: inline-block;
            width: 100px;
            height: 100px;
            margin-right: 8px;
        }
        p{
            display: inline-block;
            font-family: 'Roboto Condensed',sans-serif;
            font-weight: bold;
            color: #505050;
        }
    }
    #contact{
        font-size: 16px;
        margin-left: 100px !important;
        display: inline-block;
        #phone-logo{
            width: fit-content;
            span{
                color: #ff3115;
            }
        }
        #phone-text{
            margin-top: 15px;
            margin-left: -10px;
            width: fit-content;
        }
    }
}
#menu-header{
    background: #212121;
    nav{
        background-color: #212121;
    }
    a{
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 16px;
        margin-right: 0px;
        transition:  0.3s ease-in-out;
        
    }
    a:hover{
        color: #ff3115;
        
    }
    .dropdown:hover>.dropdown-menu{
        display: block;
        
    }
    .dropdown-menu
    {
        background: #212121;
        a{
            color: #fff;
        }
    }
    .dropdown-menu > a:hover{
        color: #ff3115;
        background-color: #212121;
    }
}

@media(max-width:380px){
    .sticky{
        top: 50px !important;
    }
    #topBar{
        #school{
            width: 100%;
        }
        #university{
            margin-left: 40px !important;
        }
        #social-media{
            padding-right: 50px !important;
        }
        p{
            padding-right: 40px !important  ;
        }
    }
    #info-header{
        
        
        min-width: 26rem;
        margin-top: 50px !important;
        #mail{
            margin-left: 80px;
            font-size: 14px !important;
            #mail-logo{
                span{
                    font-size: 25px !important;
                    margin-left: -30px !important;
                }
            }
            #mail-text{
                
                margin-left: -10px !important;
                
            }
        }
        #school{
            img{
                width: 60px !important;
                height: 60px !important;
            }
            font-size: 14px !important;
            margin-left: 50px !important ;
            margin-bottom: 10px !important;
        }
        #contact{
           
            #phone-logo{
                span{
                    font-size: 25px !important;
                    margin-left: -25px !important;
                }
            }
            font-size: 14px !important;
            margin-left: 80px !important;
        }
    }
    #menu-header{
        min-width: 26rem !important;;
    }
}
@media(max-width:320px){
    #topBar{
        #school{
            width: 100%;
        }
        #social-media{
            margin-right: 40px !important;
        }
        p{
            padding-right: 60px !important;
        }    
    }
    #info-header{

        padding-top: 15px;
        .fas{
            font-size: 20px;
        }
        #mail{
            font-size: 14px !important;
        }
        #school{
            font-size: 14px !important;
        }
        #contact{
            font-size: 14px !important;
        }
    }
    #menu-header{
        min-width: 26rem !important;
    }
}

@media(max-width:420px) and (min-width:381px){
    .sticky{
        top: 50px !important;
    }
    #topBar{
        #school{
            width: 100%;
        }
        #university{
            margin-left: 40px !important;
        }
        #social-media{
            padding-right: 110px !important;
        }
        p{
            padding-right: 40px !important  ;
        }
    }
    #info-header{
        margin-top: 50px !important;
        .fas{
            font-size: 45px !important;
        }
        #mail{
            margin-left: 60px !important;
            font-size: 14px !important;
            #mail-text{
                margin-left: -10px !important;
                
            }
        }
    
        #school{
            font-size: 14px !important;
            margin-left: 55px !important;
            margin-bottom: 10px !important;
        }
        #contact{
            .fas{
                font-size: 30px !important;
            }
            font-size: 14px !important;
            margin-left: 60px !important;
        }
    }
}
@media(min-width:421px) and (max-width:768px){
    .sticky{
        top: 50px !important;
    }
    #topBar{
        max-width: 18rem !important;
        #university{
            margin-left: 2px !important;
        
        }
        #social-media{
            padding-right: 110px !important;
        }
        p{
            padding-right: 60px;
        }
    }

    #info-header{
        margin-top: 60px !important;
        .fas{
            font-size: 18px;
        }
        #mail{
            margin-left: 120px;
            font-size: 18px !important;
        }
        #school{
            font-size: 18px !important;
            margin-left: 120px !important;
            img{
                width: 40px !important;
                height: 40px !important;
                font-size: 18px !important;
            }
        }
        #contact{
            
            margin-left: 130px !important;
            font-size: 18px !important;
        }
    }
    
}
@media(min-width:1220px) and (max-width:1318px){
    #info-header{
        #school{
            margin-left: 100px !important;
        }
        
    }
    #menu-header{
        a{
            font-size: 16px !important;
            margin-right: 4px !important;
        }
    }
    #topBar{
        #university{
            margin-left: 2px !important;
        }
    }
}
@media(min-width:1034px) and (max-width:1223px){
    #info-header{
        #school{
            margin-left: 100px !important;
            font-size: 30px !important;
            img{
                width: 80px !important;
                height: 80px !important;
            }
        }
    }
    #topBar{
        #university{
            margin-left: 2px !important;
        }
    }
    #menu-header{
        a{
            margin-right: 2px !important;
        }
    }
}
@media(min-width:770px) and (max-width:1117px){
    #topBar{}
}
