<!-- Top Header  start-->

<div id="topBar" style="background: #111111; ">
    <nav class="navbar navbar  text-light fixed-top" style="background-color: #111111;">
        <div class="container" >
            <div id="school" >
                <span id="university"><i class="fas fa-university" style="color: red;"></i> Welcome To MASD Public School</span>
            </div>
            <div class="ml-auto " id="social-media">
                
                <a class="mr-3 social" href="https://www.facebook.com/masdschool" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a class="mr-4 social" href="https://www.youtube.com/channel/UCYFkugTM5lsQSVOyzmEkkVw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <a class=" my-auto " style="color: #ff3115 !important;font-weight: bold;" href="https://okiedokiepay.com/#!/58cd1dd42a7f77084d2e594a/5fabafcaa1e1bf542234efe3/5fabb344a1e1bf542234efec/displayEventForm" target="_blank">Apply Online</a>
        </div>
    </nav>
</div>

<!-- info Header -->

<div id="info-header" class="bg-light">
    <nav class="navbar navbar-light text-dark">
        <div class="conatiner">
            <div id="mail" >
                <div class="d-flex row">
                    <div class="col-log-4 col-md-4 col-sm-4 col-xs-4" id="mail-logo">
                        <span class="ml-2 my-auto flaticon-email"></span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="mail-text">
                    <p style="display: inline;"> masd1@rediffmail.com</p>
                    <p>masdschool@gmail.com</p>
                </div>
                </div>
            </div>
            <div id="school" >
                <img src="/assets/img/School_Logo.png" alt="School" class="img-responsive">
                <p>MASD Public School</p>
            </div>
            <div id="contact" >
                <div class="d-flex row">
                    <div class="col-log-4 col-md-4 col-sm-4 col-xs-4" id="phone-logo">
                        <span class="ml-2 my-auto flaticon-call"></span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="phone-text">
                        <p> +919992023600 </p>
                        <p style="margin-top: -10px;"> +918222877165</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Menu header -->

<div id="menu-header" >
    <nav class="navbar navbar-expand-md  text-light" >
        <button class="navbar-toggler"
            data-toggle="collapse"
            data-target="#menuNav">
            <span class="navbar-toggler-icon text-white"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="menuNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav"
                    routerLink="/">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav"
                    routerLink="/cbse">CBSE MENDATE</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" >About Us</a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/masd" >About MASD</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/why-masd">Why MASD?</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/history">History & Vision</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/chairman-message">Chairman Message</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/viceChairman-message">Vice Chairman Message</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/auditor-message">Auditor Message</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/about/principal">From Principal Desk</a>
                    </div>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" >Facilities</a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/chemistry-lab">Chemistry Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/smart-class">Smart Class</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/pool">Swimming pool</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/math-lab">Math's lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/art-lab">Art Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/robotics-lab">Robitics Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/physics-lab">Physics Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/biology-lab">Biology Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/facility/music">Music & Dance</a>
                    </div>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" >Academic</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/academic/fee">Fee Structure</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/academic/curriculum">Curriculm</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/academic/seminar">Seminar & Worshop</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/academic/faculty">MASD Faculty</a>
                    </div>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" >Student Corner</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/student/syllabus">Syllabus</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/student/summer">Summer Vacation Homework</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/student/winter">Winter Holidays Homework</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/student/meal-chart">Meal Chart</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav"
                        routerLink="/student/date-sheet">Date Sheet </a>
                    </div>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav"
                    routerLink="/gallery">Gallery</a>
                </li>
               
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav"
                    (click)="openERPLogin()">ERP-Login</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav"
                    (click)="openParentLogin()" >Student's Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
