<!-- Top Header  start-->

<div id="topBar" class="bg-dark">
    <nav class="navbar navbar bg-dark text-light fixed-top">
        <div class="container">
            <div id="school">
                <span id="university"><i class="fas fa-university"></i> Welcome To MASD Public School</span>
            </div>
            <div class="ml-auto" id="social-media">
                <span class="mr-2 social"><i class="fab fa-twitter"></i></span>
                <span class="mr-2 social"><i class="fab fa-google-plus-g"></i></span>
                <span class="mr-2 social"><i class="fab fa-facebook-square"></i></span>
                <span class="mr-4 social"><i class="fab fa-linkedin"></i></span>
            </div>
            <p class="text-danger my-auto" >Apply Now</p>
        </div>
    </nav>
</div>

<!-- info Header -->

<div id="info-header" class="bg-light">
    <nav class="navbar navbar-light text-dark">
        <div class="conatiner">
            <div id="mail">
                <span class="ml-2 "><i class="fas fa-envelope-square"></i>  masd1@rediffmail.com,masdschool@gmail.com</span>
            </div>
            <div id="school">
                <img src="/assets/img/School_Logo.png" alt="School" class="img-responsive">
                <p>MASD Public School</p>
            </div>
            <div id="contact">
                <span><i class="fas fa-phone-volume"></i></span>
                <p>+91-9992023600, +91-8222877165</p>
            </div>
        </div>
    </nav>
</div>

<!-- Menu header -->

<div id="menu-header" class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-expand-md bg-dark text-light" >
        <button class="navbar-toggler"
            data-toggle="collapse"
            data-target="#menuNav">
            <span class="navbar-toggler-icon text-white"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="menuNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav">CBSE MENDATE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" >About Us</a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">About MASD</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Why MASD?</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">History & Vision</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Chairman Message</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Vice Chairman Message</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Auditor Message</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">From Principal Desk</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" >Facilities</a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Chemistry Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Smart Class</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Swimming pool</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Math's lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Art Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Robitics Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Physics Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Biology Lab</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Music & Dance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" >Academic</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Fee Structure</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Curriculm</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Seminar & Worshop</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">MASD Faculty</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" >Student Corner</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Syllabus</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Summer Vacation Homework</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Winter Holidays Homework</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Meal Chart</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Date Sheet </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav">PAY ONLINE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav">REGISTER ONLINE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" >Transport</a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Transport Routes</a>
                        <a  class="dropdown-item" data-toggle="collapse" data-target="#menuNav">Bus Tracking</a>
                    </div>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#menuNav">ERP-Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>