<div id="cbse">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="school-image">
            <img src="/assets/img/about-school.jpg" alt="" class="img-fluid">
        </div>
    </div>

    <h1 class="display1 text-danger text-center"> Mandatory Public Disclosure</h1>
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">A. GENERAL INFORMATION:</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" style="width: 50%;">INFORMATION</th>
                            <th scope="col" style="width: 45%;">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>  NAME OF THE SCHOOL</th>
                            <td >MASD Public School Panipat</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>AFFILIATION NO. (IF APPLICABLE)</th>
                            <td >530034</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>SCHOOL CODE (IF APPLICABLE)</th>
                            <td >40049</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th> COMPLETE ADDRESS WITH PIN CODE</th>
                            <td >MASD Public School P.O. Box-66, Panipat</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>PRINCIPAL NAME & QUALIFICATION</th>
                            <td >Ajay Kumar Gupta, M.sc B.Ed</td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th>SCHOOL EMAIL ID</th>
                            <td >masdschool@gmail.com</td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>CONTACT DETAILS (LANDLINE/MOBILE)</th>
                            <td >9992023460</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">B. DOCUMENTS AND INFORMATION:</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" style="width: 80%;">INFORMATION</th>
                            <th scope="col" style="width: 15%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th> COPIES OF AFFILIATION/UPGRADATION LETTER AND RECENT EXTENSION OF AFFILIATION, IF ANY</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1M7v4XpRbNVtUjDKIu5Wl_Am7mPbLmcZj/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>  COPIES OF SOCIETIES/TRUST/COMPANY REGISTRATION/RENEWAL CERTIFICATE, AS APPLICABLE</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/188D0DhDn7RCDD1d5jqQMWLcljlxy0-ax/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED, IF APPLICABLE, BY THE STATE GOVT./UT</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1pzOqVdp4u9Dk2RUamzmLiPwSydHsZw5o/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>COPIES OF RECOGNITION CERTIFICATE UNDER RTE ACT. 2009, AND IT'S RENEWAL IF APPLICABLE</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1K5lzJNv1NuHas0E298OYX6DGWql7tpes/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>COPY OF VALID BUILDING SAFETY CERTIFICATE AS PER THE NATIONAL BUILDING CODE</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/14NCqM_qva3uFI0ne7-jUFElbbwptMLZH/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th>COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPETENT AUTHORITY</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1srvJ5KTDwcxudpYO1AFqXAX3G3BF1hQ4/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>COPY OF THE DEO CERTIFICATE SUBMITTED BY THE SCHOOL FOR AFFILIATION/UPGRADATION/EXTENSION OF AFFILIATION OR SELF CERTIFICATION BY SCHOOL</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1E6cN4vlO3GquujxWgqiMVr7_IWkEweT4/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>COPIES OF VALID WATER, HEALTH AND SANITATION CERTIFICATES</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1M0HmXkPqyN3wdor1VJC2x79qLUSA27EQ/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>9</th>
                            <th style="text-transform: uppercase;">Mandatory Public Disclosure</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1Xg6CHV3YGbu8wM1sSnnxOO_9_8kcC60P/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">C. RESULT AND ACADEMICS:</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" style="width: 80%;">INFORMATION</th>
                            <th scope="col" style="width: 15%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>FEE STRUCTURE OF THE SCHOOL</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1FPlsEv9v7ZcZT4Y9ANtnFjCsQJwyDQ2h/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th> ANNUAL ACADEMIC CALANDER</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1kE17GAu9npm12pj4StE7NwmHEp8OdDJT/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th> LIST OF SCHOOL MANAGEMENT COMMITTEE (SMC)</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1VA3oFhg2_Q3531H4M9uDZ6erd95BGLmg/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>LIST OF PARENTS TEACHERS ASSOCIATION (PTA) MEMBERS</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1dlR1Re_6fcbcCvUvpw2bt7UsPaPuA4Nx/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>  LAST THREE-YEAR RESULT OF THE BOARD EXAMINATION AS PER APPLICABILITY</th>
                            <td style="font-size: 20px;" ><a href="https://drive.google.com/file/d/1C8Uo1ClHT7YzzEaz6ywdiI_xygmnc4cO/view?usp=sharing" class="text-danger" download target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">RESULT CLASS: X</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" >YEAR</th>
                            <th scope="col" >NO. OF REGISTERED STUDENTS</th>
                            <th scope="col" >NO. OF STUDENTS PASSED</th>
                            <th scope="col" >PASS PERCENTAGE</th>
                            <th scope="col" >REMARKS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>2020-21</td>
                            <td>157</td>
                            <td>157</td>
                            <td>100%</td>
                            <td></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">RESULT CLASS: XII</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" >YEAR</th>
                            <th scope="col" >NO. OF REGISTERED STUDENTS</th>
                            <th scope="col" >NO. OF STUDENTS PASSED</th>
                            <th scope="col" >PASS PERCENTAGE</th>
                            <th scope="col" >REMARKS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>2020-21</td>
                            <td>197</td>
                            <td>197</td>
                            <td>100%</td>
                            <td></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">D. STAFF (TEACHING):</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" style="width: 50%;">INFORMATION</th>
                            <th scope="col" style="width: 45%;">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>PRINCIPAL</th>
                            <td >1</td>
                        </tr>
                        <tr>
                            <th rowspan="4" class="align-middle">2</th>
                            <th> TOTAL NO. OF TEACHERS</th>
                            <td >73</td>
                        </tr>
                        <tr>
                           
                            <th>  PGT</th>
                            <td >18</td>
                        </tr>
                        <tr>
                           
                            <th>   TGT</th>
                            <td >14</td>
                        </tr>
                        <tr>
                           
                            <th>PRT</th>
                            <td >38</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>  TEACHERS SECTION RATIO</th>
                            <td >20</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th> DETAILS OF SPECIAL EDUCATOR</th>
                            <td >0</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>  DETAILS OF COUNSELLOR AND WELNESS TEACHER</th>
                            <td >0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-lg-12 col-md-12">
                <h4 class="text-warning font-weight-bold">E. SCHOOL INFRASTRUCTURE:</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">S.No.</th>
                            <th scope="col" style="width: 50%;">INFORMATION</th>
                            <th scope="col" style="width: 45%;">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>TOTAL CAMPUS AREA OF THE SCHOOL (IN SQUARE MTR)</th>
                            <td >97124.5536</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>NO. AND SIZE OF THE CLASSROOMS (IN SQ FT MTR)</th>
                            <td >70 & 50</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th> NO. AND SIZE OF LABORATORIES INCLUDING COMPUTER LABS (IN SQ MTR)</th>
                            <td >7</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>  INTERNET FACILITY (Y/N)</th>
                            <td >Yes</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th> NO. OF GIRLS TOILETS</th>
                            <td >6</td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th> NO. OF BOYS TOILETS</th>
                            <td >6</td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>LINK OF YOUTUBE VIDEO OF THE INSPECTION OF SCHOOL COVERING THE INFRASTRUCTURE OF THE SCHOOL</th>
                            <td ></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>