<div id="acheivements">
    <div class="container">
        <div class="row" id="part1">
            <div class="col-lg-6 col-md-12">
                <div id="heading">
                    <h2>ACHEIVEMENTS</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart like mine.</p>
                    <img src="/assets/img/gallery/gal7.JPG" alt="Acheivents" class="imgfluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center" id="ach-detail">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="border">
                            <span class="counter">80</span>
                            <h4>TEACHERS</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="border">
                            <span class="counter">20</span>
                            <h4>COURSES</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="border">
                            <span class="counter">1500</span>
                            <h4>STUDENTS</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="border">
                            <span><span class="counter">5000</span>+</span>
                            <h4>SATISFIED PARENTS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
