<div id="physics">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Physics Lab</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <img src="/assets/img/physics/physics1.png" alt="Physics Lab" class="img-fluid">
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <p class="lead">The Physics Lab is a spacious hall that can accommodate 30-35 students at a time.
                             Lab activities and experiments engage student’s mind which help them to acquire necessary skill and confidence.
                             The lab is equipped with the latest equipments catering to the +2 syllabus where students carry out their experiments in an innovative environment.
                             Meaningful learning will occur where laboratory activities are a well-integrated part of a learning sequence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>