<div id="vcMessage">
    <div class="container">
        <div class="card shadow-lg">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-danger text-center">Vice Chairman Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/vice-chairman.jpeg" alt="Vice Chairman" class="img-fluid">
                    <h4>Aakash Garg</h4>
            </div>
            
            
            <div class="card-body">
                <p class="lead">
                    “We cannot always build the future for our youth, but we can build our youth for the future.” These words by Franklin Roosevelt describe our aim at MASD.
                </p>
                    <p class="lead">Education is the basis of all progress. The entire purpose of education is not to restrict itself to imparting bookish knowledge only but to inculcate humanitarian values like wisdom, compassion, courage, humility, integrity and reliability in a student.  We believe in holistic education for your child, encompassing-academics, co-curricular activities, sports education and life-skill learning. At MASD, we impart education that is based on conscience and we rear a breed of young minds that are bustling with self-confidence, motivation and ever-ready to face challenges.</p>
                    <p class="lead">The school inculcates in the students a respect for tradition and ensures discipline and good manners. MASD encourages students to learn about themselves and their constantly changing environment, while at the same time offering support and guidance as they practice decision-making and social skills. The values and environment we provide for our students are sustainable and see them successfully through their formative years. We will continually strive for brighter and more secure prospects for our students.
                    </p>
                    <p class="lead">“May the sapling grow into a sturdy tree and spread its branches.”</p>
                    <p class="lead">Yours Sincerely</p>
                    <p class="lead">Aakash Garg</p>
                    <p class="lead">Vice Chairman</p>    
            </div>
        </div>
    </div>
</div>