<div id="pool">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">
                Swimming Pool
            </h1>
            <div class="card-body">
                <p class="lead">Swimming / Splash Pool: is an additional feature of the school. 
                    Here the students are taught how to swim and learn the basic concepts of swimming under the observation of trained and dedicated teachers. 
                    Separate timings for boys and girls are fixed. 
                    Extraordinary students in swimming are also sent to the different competitions at State and National Level.</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img src="/assets/img/pool/pool1.png" alt="Smart Class" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img src="/assets/img/pool/pool2.png" alt="Smart Class" class="img-fluid" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>