<div id="date-sheet">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">Date Sheet</h1>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 75%;">Detail</th>
                            <th scope="col" style="width: 25%;">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col" style="width: 75%;">DATE SHEET OF EVALUATION - 1, 2022- CLASSES PREP 1 to K.G.</th>
                            <td><a href="https://drive.google.com/file/d/1wXi9JZwYYLLxDgva19elIkkHia9ziGJS/view?usp=sharing" target="_blank"><i class="fas fa-download"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 75%;">EXAMINATION SCHEDULE OF HALF YEARLY 2022- CLASSES I to V</th>
                            <td><a href="https://drive.google.com/file/d/1RECY2ezbIvTvJNtXsHbQe6wp55crHPja/view?usp=sharing" target="_blank"><i class="fas fa-download"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 75%;">EXAMINATION SCHEDULE OF HALF YEARLY 2022- CLASSES VI to XII</th>
                            <td><a href="https://drive.google.com/file/d/14CUOJ_7BJFuXJveP8AkYAZFj3NkMP35r/view?usp=sharing" target="_blank"><i class="fas fa-download"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>