#date-sheet{
    .card{
        border-radius: 20px;
        .card-title{
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            margin-left: 20px;
            margin-top: 20px;
        }
        .card-body{
            a{
                color: #ff3115;
            }
            
        }
    }
}