#cMessage{
    //margin-top: 150px;
    .card{
        border-radius: 20px;
        
        img{
            margin-left: 100px;
           margin-top: 20px;
           border-radius: 20px;
            
        }
        h4{
            margin-top: 5px;
            margin-left: 160px;
        }
        .card-title{
            
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            margin-left: 30px;
            margin-top: 30px;
        }
        .card-body{
            margin-left: 20px;
            margin-right: 20px;
        }

    }
}
@media(max-width:380px){
    #cMessage{
        .card{
            #head{
                margin-top: 50px !important;
            }
            img{
                margin-left: 20px !important;
            }
            h4{
                margin-left: 80px !important;
            }
        }
    }
}
@media(min-width:381px) and (max-width:420px){
    #cMessage{
        .card{
            #head{
                margin-top: 50px !important;
            }
            .card-title{
                margin-left: 10px !important;
            }
            img{
                margin-left: 40px !important;
            }
            h4{
                margin-left: 120px !important;
            }
        }
    }
}