<div id="cMessage">
    <div class="container">
        <div class="card shadow-lg">
            <img src="/assets/img/chairman.jpg" alt="Chairman" class="img-fluid rounded-circle w-50 text-center">
            <h1 class="card-title text-danger">Chairman Message</h1>
            <div class="card-body">
                <p class="lead">
                    Having established in 1983, M.A.S.D. Public School has been souring high on the wings of successful flight.  We feel ‘wise' on one hand, when we look at the established identity we enjoy as an institution where learning is purposeful, progressive and empowering. On the other hand, we feel the excitement of an initiate because each day executed well makes us eager to learn, to explore, to experiment and absorb more.
                    We believe that every child is born with inherent qualities. The positive treatment helps even the most reluctant learner to grasp and learn. That’s why we do the SWOT analysis to overcome the weakness, to maximize the strength keeping in mind the opportunity and threat.
                    We constantly raise our bench marks to integrate our culture & heritage with the best Education in the world. Our curriculum encourages curiosity and experimentation and our canvas of co-curricular activities is large varied ‘hands on’ in productive creative experiences. Our educational sojourn is flying towards digitization as envisaged by honorable PM Modi to go digital in every walk of life. The School aims to build a community of confident, global leaders with social conscience and national pride, committed to excellence and continuous learning through exploring with help of research work .Our mission is to strive for excellence in Academics, Sports, Creative pursuits
                </p>
                    <p class="lead">Yours Sincerely.</p>
                    <p class="lead">Anil Bindle</p>
                    <p class="lead">Chairman</p>    
            </div>
        </div>
    </div>
</div>