
<!-- Slider -->
<div class="carousel slide" id="slide1" data-ride="carousel">
    <!-- Indicator -->
    <ol class="carousel-indicators">
        <li class="active" data-target="#slide1"
        data-slide-to="0"></li>
        <li data-target="#slide1" data-slide-to="1"></li>
        <li data-target="#slide1" data-slide-to="2"></li>
        <li data-target="#slide1" data-slide-to="3"></li>
        <li data-target="#slide1" data-slide-to="4"></li>
        <li data-target="#slide1" data-slide-to="5"></li>
        <li data-target="#slide1" data-slide-to="6"></li>
        <li data-target="#slide1" data-slide-to="7"></li>
    </ol>
    <!-- img URL -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/school8.jpg" alt="School8" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school2.jpg" alt="School2" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school3.jpg" alt="School3" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school4.jpg" alt="School4" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school5.jpg" alt="School5" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school6.jpg" alt="School6" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school7.jpg" alt="School7" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/school1.jpg" alt="School1" class="d-block img-fluid">
        </div>
    </div>
    <!-- controller -->
    <a href="#slide1" class="carousel-control-prev"
    data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#slide1" class="carousel-control-next"
    data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!-- cards -->

 <div class="container">
     <div class="row " id="cards">
         <div class="col-lg-3 col-md-3 col-sm-3 ">
             <div class="card shadow-lg  text-center" id="first">
                 <img src="/assets/img/smart-class/smart1.png" alt="Smart Class"
                 class="img-fluid rounded-circle w-75">
                 <div class="card-body">
                     <h3 class="card-title">Smart Class</h3>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card shadow-lg text-center">
                <img src="/assets/img/robot/robot1.png" alt="Robotics Lab"
                class="img-fluid rounded-circle w-75">
                <div class="card-body">
                    <h3 class="card-title">Robotics Lab</h3>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card shadow-lg text-center">
                <img src="/assets/img/pool/pool2.png" alt="Swimming Pool"
                class="img-fluid rounded-circle w-75">
                <div class="card-body">
                    <h3 class="card-title">Swimming Pool</h3>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card shadow-lg text-center">
                <img src="/assets/img/music/music1.png" alt="Dance & Music"
                class="img-fluid rounded-circle w-75">
                <div class="card-body">
                    <h3 class="card-title">Dance & Music</h3>
                </div>
            </div>
         </div>
     </div>
 </div>