$primary: #3292a6;
#slide1{
    position: relative;
    .carousel-item{
        img{
            height: 650px;
            width: 100%;
        }
        #building{
            margin-top: -500px;
            margin-left: 300px;
        }
        #admission{
           margin-left: 278px;
           margin-top: 21px;
            font-size: 24px;
            animation-delay: 2s;
            span{
                font-weight: bold;
            }
        }
    }
    .carousel-control-next{
        height: fit-content;
        //top: 250px;
        padding-top: 250px;
       
        .carousel-control-next-icon{
            font-size: 30px;
           
            width: 30px;
            height: 30px;
            
        }
    }
    .carousel-control-prev-icon{
        font-size: 30px;
       margin-top: -39% !important;
        width: 30px;
        height: 30px;
        
    }
    
}
#cards{
    position: relative;
    .card{
        height: 150px;
        border-radius: 10px;
        background: black;
        color: #fff;
        .icons{
            margin-top: -20px;
            span{
                background-color: black;
                border-radius: 60px;
                padding: 30px;
                color: #ff3115;
                font-size: 50px;
            }
        }
        
        .card-body{
           // margin-top: 10px;
           font-family: 'Roboto Condensed',sans-serif;
           .card-title{
               font-size: 20px !important;
           }
        }

    }

    .card:hover{
        background:#ff3115;
        color:#fff;
        .icons{
            span{
                color: #fff;
                background-color: #ff3115;
            }
        }
    }
}


@media(max-width:420px){
    #cards{
        .cardS{
            padding-left: 0px !important;
            padding-right: 27px !important;
        }
        #first{
            margin-top: 55px !important;
        }
    }
    #slide1{
        .carousel-item{
            img{
                height: auto !important;
            }
        }
        .carousel-control-next{
            height: auto !important;
            //top: 250px;
            padding-top: 0px !important;
           
        }
    }
}
@media(max-width:420px){

    #cards{
        .card{
            margin-left: 30px !important;
            margin-top: 30px !important;
            margin-bottom: 30px !important;
        }
        
    }  
}