
<!-- Slider -->
<div class="carousel slide" id="slide1" data-ride="carousel">
    <!-- Indicator -->
    <ol class="carousel-indicators">
        <li class="active" data-target="#slide1"
        data-slide-to="0"></li>
        <li data-target="#slide1" data-slide-to="1"></li>
        <li data-target="#slide1" data-slide-to="2"></li>
        <li data-target="#slide1" data-slide-to="3"></li>
        <li data-target="#slide1" data-slide-to="4"></li>
        <li data-target="#slide1" data-slide-to="5"></li>
        <li data-target="#slide1" data-slide-to="6"></li>
        
    </ol>
    <!-- img URL -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/school/school1.jpg" alt="School Building" class="d-block img-fluid"
            style="filter: brightness(40%);">
            <div class="carousel-caption d-none d-md-block">
                <div id="building" class="animate__animated animate__bounceInLeft">
                    <img src="/assets/img/School_Logo.png" alt="Logo" class="img-fluid"
                    style="width: 100px;height: 100px;">
                    <h2>MASD PUBLIC SCHOOL</h2>
                </div>
                <div id="admission" class="animate__animated animate__flipInY">
                    <span>Admissions Open for the</span><br>
                    <span style="color: #ff3115;">Academic Session 2021-22</span><br>
                    <span>from Nursery to Class XI</span>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/img/showcase/4.jpg" alt="Admission Open" class="d-block img-fluid">
           
        </div>
        <div class="carousel-item">
            <img src="/assets/img/showcase/2.jpg" alt="Star" class="d-block img-fluid">
           
        </div>
        <div class="carousel-item">
            <img src="/assets/img/showcase/3.jpg" alt="Star" class="d-block img-fluid">
           
        </div>
        <div class="carousel-item">
            <img src="/assets/img/gallery/gal6.JPG" alt="Skating" class="d-block img-fluid">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="animate__animated animate__zoomIn" style="margin-top: -300px;color: #ff3115;margin-left: 500px;font-weight: 800;animation-delay: 1s;">WELL BALANCED SCHEDULE OF</h2>
                <h1 class="animate__animated animate__zoomInUp"  style="font-weight: 800;margin-left: 300px;animation-delay: 2s;">STUDY, GAMES & RECREATIONS</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/img/gallery/gal15.JPG" alt="Playing Games" class="d-block img-fluid">
           
        </div>
        <div class="carousel-item">
            <img src="/assets/img/gallery/gal17.JPG" alt="Cricket" class="d-block img-fluid">
            <div class="carousel-caption d-none d-md-block">
                <div style="margin-top: -300px;">
                    <span class="animate__animated animate__lightSpeedInRight" style="font-size: 22px;font-weight: bold;margin-left: -400px;margin-top: -500px;animation-delay: 1s;">AN ARRAY OF</span><br>
                    <span class="animate__animated animate__lightSpeedInLeft" style="color: #ff3115;font-size: 24px;margin-left: -400px;margin-top: -500px;font-weight: bold;animation-delay: 2s;">ARTISTIC & SPORTING ACTIVITIES</span><br>
                    <span class="animate__animated animate__fadeInRightBig" style="font-size: 22px;font-weight: bold;margin-left: -400px;margin-top: -500px;animation-delay: 3s;">UNDER PROFESSIONAL COACHES</span>
                </div>
            </div>

        </div>
    </div>
    <!-- controller -->
    <a href="#slide1" class="carousel-control-prev"
    data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#slide1" class="carousel-control-next"
    data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!-- cards -->

 <div class="container">
     <div class="row " id="cards">
         <div class="col-lg-3 col-md-3 col-sm-3 cardS">
             <div class="card shadow-lg  text-center" id="first">
                 <div class="icons">
                     <span><i class="fas fa-trophy"></i></span>
                 </div>
                 <!-- <img src="/assets/img/smart-class/smart1.png" alt="Smart Class"
                 class="img-fluid rounded-circle w-75">-->
                 <div class="card-body">
                     <h3 class="card-title">Games</h3>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3 cardS">
            <div class="card shadow-lg text-center">
                <div class="icons">
                    <span><i class="fas fa-book"></i></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Books & Library</h3>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3 cardS">
            <div class="card shadow-lg text-center">
                <div class="icons">
                    <span><i class="fas fa-user"></i></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Certified Teacher</h3>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3 cardS">
            <div class="card shadow-lg text-center">
                <div class="icons">
                    <span><i class="fas fa-guitar"></i></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Dance & Music</h3>
                </div>
            </div>
         </div>
     </div>
 </div>