<div id="slc">
    <div class="container">
        <div class="card shadow-lg">
            <h1 class="card-title text-danger">SLC</h1>
            <div class="card-body">
                <div class="alert alert-warning alert-danger fade show" role="alert" *ngIf="alert">
                    Sorry. We didn't Find SLC For this Admission Number. Please Contact In School.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <form class="form-inline" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
                    <div class="row w-100">
                        <div class="col-9">
                            <div class="form-group  mb-2">
                                <input type="text" class="form-control w-100" id="search"
                                name="search"
                                ngModel
                                required
                                 placeholder="Search with Admission Number">
                              </div>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary mb-2 w-100" [disabled]="searchForm.invalid">Search</button>
                        </div>
                    </div>
                   
                     
                </form>
                
                  <div class="row detail mt-5">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <p class="caption">{{caption}}</p>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                         <a  class="btn btn-warning">{{isApproved}}</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>