<div id="gallery">
    <div class="container">
        <div class="text-center" id="gallery-title">
            <h2>OUR GALLERY</h2>
            <hr class=" pb-2">
        </div>
        <div class="row">
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal1.jpg" data-lightbox="gallery"><img src="/assets/img/gallery/gal1.jpg" alt="Media" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal2.jpg" data-lightbox="gallery"><img src="/assets/img/gallery/gal2.jpg" alt="Media" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal3.JPG" data-lightbox="gallery"><img src="/assets/img/gallery/gal3.JPG" alt="Media" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal4.JPG" data-lightbox="gallery"><img src="/assets/img/gallery/gal4.JPG" alt="Media" class="img-fluid"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal5.JPG" data-lightbox="gallery"><img src="/assets/img/gallery/gal5.JPG" alt="Media" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal6.JPG" data-lightbox="gallery"><img src="/assets/img/gallery/gal6.JPG" alt="Media" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/gallery/gal7.JPG" data-lightbox="gallery"><img src="/assets/img/gallery/gal7.JPG" alt="Media" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3" id="view-all">
                <a ><img src="/assets/img/gallery/gal8.JPG" alt="Media" class="img-fluid"></a>
                <div class="overlay" routerLink="/gallery">
                    <div class="text">View All</div>
                </div>
            </div>
        </div>
    </div>
</div>