<div id="gallery">
    <div class="container">
        <div class="text-center" id="gallery-title">
            <h2>OUR MEDIA</h2>
            <hr class="bg-danger pb-2">
        </div>
        <div class="row">
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/acheivement/ach2.jpg" data-lightbox="gallery"><img src="/assets/img/acheivement/ach2.jpg" alt="Achievement" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/acheivement/music-festival.jpeg" data-lightbox="gallery"><img src="/assets/img/acheivement/music-festival.jpeg" alt="Achievement" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/art/art1.png" data-lightbox="gallery"><img src="/assets/img/art/art1.png" alt="Achievement" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/art/art2.png" data-lightbox="gallery"><img src="/assets/img/art/art2.png" alt="Achievement" class="img-fluid"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/acheivement/ach2.jpg" data-lightbox="gallery"><img src="/assets/img/acheivement/ach2.jpg" alt="Achievement" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/acheivement/music-festival.jpeg" data-lightbox="gallery"><img src="/assets/img/acheivement/music-festival.jpeg" alt="Achievement" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/art/art1.png" data-lightbox="gallery"><img src="/assets/img/art/art1.png" alt="Achievement" class="img-fluid"></a>
            </div>
            <div class="col-lg 3 col-md-3">
                <a href="/assets/img/art/art2.png" data-lightbox="gallery"><img src="/assets/img/art/art2.png" alt="Achievement" class="img-fluid"></a>
            </div>
        </div>
    </div>
</div>