#gallery{
    margin-bottom: 150px;
    position: relative;
    #gallery-title{
        h2{
            font-family: 'Roboto Condensed',sans-serif;
            font-weight: bold;
        }
        hr{
            width: 240px;
            border-radius: 10px;
            background-color: #ff3115;
            margin-bottom: 30px;
        }
    }
    img{
        width: 250px;
        height: 200px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    img:hover{
        transform: scale(1.2);
    }
    #view-all{
        position: relative;
        img{
            display: block;
            width: 250px;
            height: 200px;
            margin-bottom: 30px;
            border-radius: 10px;

        }
        .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
        }
        .text {
            color:#ff3115;
            font-family: 'Roboto Condensed',sans-serif;
            font-weight: bold;
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }

    }
    #view-all:hover{
     
        .overlay {
            opacity: 1;
          }
          img{
            transform: scale(1.2);
            filter: opacity(0.4);
          }
    }

}